<h1><%= @tag.tag_name %></h1>

<h3>Posts with the tag <em><%= @tag.tag_name %></em></h3>

<% @tag.posts.each do |post| %>
  <%= link_to post.title, post_path(post) %>
<% end %>

<p><%= link_to "Return to posts", posts_path %></p>
